body {
    margin: 0px;
}   

.header {
    width: 100%;
    background-color: #ffe600;
    height: 51px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 53px;
    height: 36px;
}

input.search-input {
    width: 80em;
    height: 31px;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
    padding-left: 15px;
    background-image: url("../images/backgroundGrey.png");
    background-repeat: repeat-y;
    background-position: 78.5em 0px;
}

input + label::before{
    content:url('../images/ic_Search.png');
    position: relative;
    left: -24px;
    top: 5px;
}

.product-list{
    height: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}

html,body {
    background-color: #eee;
    height:100%;
}

.product-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    height: 150px;
    align-items: center;
}

.products-list-table:hover {
    background-color: #ffffffe8
}

img {
    height: 130px;
}

.product-list:last-child {
    border-bottom: none;
}
.product-list-breadcrumbs{
    display: flex;
}

.products-list-container {
    justify-content: center;
    width:  80%;
}

.products-list-table {
    background-color:  white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.product-price {
    height: 43px;
    width: 130px;
    display: flex;
    font-size: 29px;
    color: #666;
    text-decoration: none;
}

.product-price-ico > img {
    width:  18px;
    height:  18px;
    padding-left:10px
}

.product-description {
    color: #666;    
    font-size:20px
}

.product-description:hover {
    color: #666;    
}